<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="graduatedesign.ghost.mapper.TicketMapper" >

    <insert id="addTicket" parameterType="Ticket" useGeneratedKeys="true" keyProperty="id" >
        insert into graduate_design.ticket values (#{id}, #{ticketNo},#{parentNo},#{userId},#{userName}, #{userPhone} ,#{subject} ,#{content},#{department},#{status},#{createTime},#{updateTime})
    </insert>


    <select id="queryAllTicket" resultType="Ticket">
        select * from graduate_design.ticket where parent_no = 0
    </select>

    <select id="queryTicketByUserId" resultType="Ticket">
        select * from graduate_design.ticket where user_id = #{id} and parent_no = 0
    </select>

    <select id="queryTicketById" resultType="Ticket">
        select * from graduate_design.ticket where id = #{id}
    </select>

    <select id="queryTicketIdByNo" resultType="int">
        select id from graduate_design.ticket where ticket_no = #{ticketNo}
    </select>

    <select id="queryTicketReplyByNo" resultType="Ticket">
        select * from graduate_design.ticket where parent_no = #{parentNo} order by create_time
    </select>

    <update id="updateTicketStatusById">
        update graduate_design.ticket set status = #{status} where id = #{id}
    </update>

</mapper>