<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="graduatedesign.ghost.mapper.WebInfoMapper" >

    <update id="updateNotice">
        update graduate_design.web_info set web_info.notice = #{notice},submitted_by = #{adminID} where id = 1;
    </update>


</mapper>